.vbox {
  display: flex;
  flex-direction: column;
}
.hbox {
  display: flex;
  flex-direction: row;
}
.dropdown {
  flex: 1;
}
.nav-tabs {
  margin-bottom: 2rem;
}
.bottom-space {
  margin-bottom: 1rem;
}
.right-space {
  margin-right: 1rem;
}
h4 {
  margin-top: 0;
}
