.vbox {
  display: flex;
  flex-direction: column;
}
.hbox {
  display: flex;
  flex-direction: row;
}
.dropdown {
  margin-bottom: 1rem;
  flex: 1;                                          
}
.nav-tabs {
  margin-bottom: 2rem;
}
